﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjaxLogIn</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("form").submit(function (e) {
                e.preventDefault();
                //alert("hi");

                $.ajax({
                    url: "http://111.223.32.9/prdservice/api/Authenticate",
                    data: {
                        username: $("input[name=username]").val(),
                        password: $("input[name=password]").val()
                    },
                    type: 'POST',
                    dataType: 'jsonp',
                    crossDomain: true,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        aler(textStatus);
                    }


                });

            });//form submit

        });//end document ready

    </script>
</head>
<body>
    <div>
        <form>
            <table>
                <tr>
                    <td>username:</td>
                    <td>
                        <input type="text" name="username" /></td>
                </tr>

                <tr>
                    <td>password:</td>
                    <td>
                        <input type="password" name="password" /></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" value="log in" /></td>
                </tr>

            </table>
        </form>
    </div>
</body>
</html>
